<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Controller</title>
    <style>
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
        }

        td {
            vertical-align: bottom;
            text-align: left;
            padding: 15px;
            border: 1px solid #dddddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Bot Controller</h1>

    <table>
        <tr>
            <td>
                <img src="{{ url_for('video_feed1') }}" alt="Kamera 1 Stream" width="320" height="240">
            </td>
            <td>
                <img src="{{ url_for('video_feed2') }}" alt="Kamera 2 Stream" width="320" height="240">
            </td>
        </tr>
        <tr>
            <td>
                <h2>Set Movement</h2>
                <form action="/set_movement" method="post">
                    <label for="rpm">Enter RPM (-114 to 114):</label>
                    <input type="number" name="rpm" id="rpm" required>
                    <br>
                    <label for="distance">Enter distance in cm:</label>
                    <input type="number" name="distance" id="distance" step="0.01" required>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </td>
            <td>
                <h2>Set Rotation</h2>
                <form action="/set_rotation" method="post">
                    <label for="rpm">Enter RPM (-114 to 114):</label>
                    <input type="number" name="rpm" id="rpm" required>
                    <br>
                    <label>Enter direction for M0:</label>
                    <input type="radio" name="direction_fl" value="CW">CW
                    <input type="radio" name="direction_fl" value="CCW">CCW
                    <br>
                    <label>Enter direction for M1:</label>
                    <input type="radio" name="direction_bl" value="CW">CW
                    <input type="radio" name="direction_bl" value="CCW">CCW
                    <br>
                    <label>Enter direction for M2:</label>
                    <input type="radio" name="direction_fr" value="CW">CW
                    <input type="radio" name="direction_fr" value="CCW">CCW
                    <br>
                    <label>Enter direction for M3:</label>
                    <input type="radio" name="direction_br" value="CW">CW
                    <input type="radio" name="direction_br" value="CCW">CCW
                    <br>
                    <label for="target_rotation">Enter number of wheel rotations:</label>
                    <input type="number" name="target_rotation" id="target_rotation" step="0.01" required>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Set Servo Position</h2>
                <form action="/set_servo_position" method="post">
                    <label for="servo_name">Enter servo name:</label>
                    <input type="radio" name="servo_name" id="servo_name_left" value="S0" required>Left (S0)
                    <input type="radio" name="servo_name" id="servo_name_right" value="S3" required>Right (S3)
                    <br>
                    <label for="angle">Enter angle (-90 to 90):</label>
                    <input type="number" name="angle" id="angle" min="-90" max="90" required>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </td>
            <td>
                <h2>Get Measurement</h2>
                <form action="/get_measurement" method="post">
                    <label for="sensor_name">Enter sensor name:</label>
                    <input type="radio" name="sensor_name" id="sensor_name_left" value="D0" required>Ultrasonic Left (D0)
                    <input type="radio" name="sensor_name" id="sensor_name_right" value="D7" required>Ultrasonic Right (D7)
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>

